<div class='phrase'>
<span><%= four_phrase.char1.char %></span>
<span><%= four_phrase.char2.char %></span>
<span><%= four_phrase.char3.char %></span>
<span><%= four_phrase.char4.char %></span>
</div>
