<table class="table">
  <thead>
    <tr>
      <th>三字熟語</th>
      <th colspan=2></th>
    </tr>
  </thead>

  <tbody>
    <% @three_phrases.each do |three_phrase| %>
      <tr>
        <td><%= three_phrase.to_s %></td>
        <td><%= link_to 'EDIT', edit_admin_three_phrase_path(three_phrase) %></td>
        <td><%= link_to 'DEL', admin_three_phrase_path(three_phrase), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @three_phrases %>
