<footer class="footer">
  <div class="container-fluid footer">
    <div class="pull-left">
      &copy; 2016 iyuuya. All rights reserved.
    </div>
    <div class="pull-right">
      準備中です:
      <strike>利用規約</strike>
      <strike>プライバシー</strike>
      <strike>ヘルプ</strike>
      <strike>お問い合わせ</strike>
    </div>
  </div>
</footer>
